.home {
  min-height: 100vh;
}

.home, .mainAside{
  display: flex;
  flex-direction: column;
}

.homeMain {
  padding: 2rem 0;
 flex: 1;  
}

.mainContainer{
  margin:0 auto;
  padding: 0 2rem;
  display: grid;
  grid-template-columns: 320px 1fr;
}
