.footer {
  padding: 2rem;
  background-color: var(--bg-300);
  color: var(--text-200);
}

.footer__main {
  margin: 0 auto 3rem;
  max-width: 1440px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
}

.footer__title {
  margin-bottom: 1.5rem;
  color: var(--coffee-yellow);
}

.footer__bottom {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

@media (max-width: 768px) {
  .footer__bottom {
    flex-direction: column;
    text-align: center;
  }

  .footer__legal {
    justify-content: center;
  }
}
