.nav {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navMobile {
  padding: 1rem;
  border-top: 1px solid var(--bg-100);
  animation: slideDown 1s ease;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    gap: 1rem;
  }
  .navDesktop {
    display: none;
  }
}

@media (min-width: 769px) {
  .navMobile {
    display: none;
  }
}
