.navigation {
  margin-left: 0.35rem;
}

.menu {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.menu__link {
  color: var(--bg-300);
  text-transform: uppercase;
  transition: color 0.3s ease;

  &:hover {
    color: var(--coffee-dark);
  }
}

.menu__linkActive {
  padding-bottom: 1px;
  color: var(--coffee-dark);
  border-bottom: 1px solid var(--coffee-dark);
}

@media (max-width: 768px) {
  .navigation {
    margin: 0 0 2rem;
  }

  .menu {
    flex-direction: column;
    gap: 0.25rem;
  }
}