.btn {
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover:not(:disabled) {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  &disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.primary {
  background-color: var(--accent-100);
  color: var(--accent-200);
}

.outline {
  color: var(--accent-100);
  background-color: transparent;
}
