.feature {
  padding: 2rem;
  max-width: 1440px;
  margin: 0 auto;
}

.feature__title {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  p {
    max-width: 672px;
  }
}

.feature__card {
  display: flex;
  gap: 1rem;
}
