.feature {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.feature--grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;
  border: 1px solid red;
}

.feature--row {
  padding-bottom: 0.5rem;
  display: flex;
  scroll-snap-type-x: mandatory;
  overflow-x: auto;
}

.feature--row > * {
  flex: 0 0 280px;
  scroll-snap-align: start;
}

.card__img,
.card__number {
  border-radius: 999rem;
}

.card__number {
  font-weight: bold;
  &:hover {
    padding: 0.25rem 0.5rem;
    border: 1px solid var(--coffee-french);
  }
}

@media (max-width: 768px) {
  .feature--grid {
    grid-template-columns: 1fr;
  }
}
