.reward {
  margin: 1rem 0;
}



.reward__grid {
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;
}

.reward__content {
  display: none;
}
