.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-inline: 1rem;
}

.footer__container {
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
}

.footer__legal {
  max-width: 27.35rem;
  p {
    text-wrap: pretty;
  }
}
