:root {
  --primary-100: #ff6f61;
  --primary-200: #dd5147;
  --primary-300: #8f0010;
  --accent-100: #6b5b95;
  --accent-200: #ffeaff;
  --text-100: #1d3557;
  --text-200: #4a5e84;
  --bg-100: #f2e8cf;
  --bg-200: #f3f3f7;
  --bg-300: #c5b8a9;

  --title-font: "Flyas Smeling", Helvetica, Arial, sans-serif;
  --body-font: "Chubbo", serif;

  --transition-ui: 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --transition-focus: 0.15s ease;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-100);
  color: var(--text-100);
  font-family: var(--body-font);
  font-weight: 450;
  font-size: 1rem;
  line-height: 1.6;
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font);
  font-weight: 400;
  line-height: 1.1;
  text-wrap: balance;
}

h1 {
  font-size: clamp(2rem, 1.0347rem + 6.1776vw, 4rem);
  letter-spacing: -0.02em;
}
h2 {
  font-size: clamp(1.5rem, 0.7761rem + 4.6332vw, 3rem);
}
h3 {
  font-size: clamp(1.25rem, 0.6467rem + 3.861vw, 2.5rem);
}
h4 {
  font-size: clamp(1rem, 0.5174rem + 3.0888vw, 2rem);
}

main {
  padding: clamp(2rem, 5vw, 4rem) clamp(1rem, 5vw, 2rem);
  max-width: 1400px;
  margin: 0 auto;
}

@font-face {
  font-family: "Chubbo";
  src: url("/fonts/Chubbo-Regular.woff2") format("woff2");
  src: url("/fonts/Chubbo-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Flyas Smeling";
  src: url("/fonts/Flyas-Smeling.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
