:root {
  --primary-100: #ff6f61;
  --primary-200: #dd5147;
  --primary-300: #8f0010;
  --accent-100: #6b5b95;
  --accent-200: #ffeaff;
  --text-100: #1d3557;
  --text-200: #4a5e84;
  --bg-100: #f2e8cf;
  --bg-200: #e8dec5;
  --bg-300: #bfb69e;

  --title-font: "Flyas Smeling", Helvetica, Arial, sans-serif;
  --body-font: "Chubbo", serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-100);
  color: var(--text-100);
  line-height: 1.6;
  font-family: var(--body-font);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: var(--title-font);
}

@font-face {
  font-family: "Chubbo";
  src: url("/fonts/Chubbo-Regular.woff2") format("woff2");
  src: url("/fonts/Chubbo-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Flyas Smeling";
  src: url("/fonts/Flyas-Smeling.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
