.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 24px var(--primary-200);
  }
}

.collectionCard {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.resourceCard {
  padding: 1.5rem;
}

.cardMedia {
  display: flex;
  flex-direction: column;
  /* border: 1px sienna solid; */
}

.cardImage {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid rebeccapurple;
}

.image {
  max-width: 100%;
  max-height: 192px;
  object-fit: fill;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border: 2px solid red;
}

.imageOverlay {
  padding: 0.25rem 1rem;
  .overlayText {
    font-size: clamp(0.046875rem, -0.9063rem + 7.625vw, 1.2rem);
    color: var(--accent-100);
    font-weight: bold;
  }
}

.iconCard {
  border: none;
}

.iconWrapper {
  max-width: fit-content;
  padding: 0.3rem;
  margin-bottom: 1.5rem;
  border-radius: 6px;
  background: var(--bg-200);
}

.badge {
  margin-bottom: 0.5rem;
  display: inline-block;
  color: var(--accent-100);
  font-size: 0.85rem;
  font-weight: 300;
}

.title {
  font-size: clamp(0.015625rem, -1.0688rem + 8.675vw, 1.1rem);
  color: var(--text-200);
}

@media (max-width: 768px) {
  .card {
    padding: 1.25rem;
  }
}
