.hamburger {
  position: absolute;
  right: 10px;
  width: 30px;
  height: 20px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: transparent;
  border-radius: 0.5rem;
  transition: transform 0.4s ease, opacity 0.2s ease;

  &:hover {
    opacity: 0.7;
    transform: scale(1.05);
    background-color: transparent;
  }

  &:active {
    transform: scale(0.95);
  }
}

.hamburger__line {
  width: 24px;
  height: 3px;
  background: var(--coffee-dark);
  border-radius: 4px;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.hamburgerActive .hamburger__line:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburgerActive .hamburger__line:nth-child(2) {
  opacity: 0;
  transform: translateX(-10px);
}

.hamburgerActive .hamburger__line:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}