.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoImg {
  width: 80px;
  height: auto;
}

.logoText {
  font-weight: bold;
  font-size: clamp(0.5rem, -1rem + 24vw, 1.5rem);
  color: #8a2be2; 
}