.footer {
  padding: 2.5rem 2rem 1rem;
}

.content {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.copyright {
  font-size: clamp(0.9375rem, 0.8288rem + 1.3477vw, 1.25rem);
  color: var(--text-200);
}

.social {
  display: flex;
  gap: 1.2rem;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  color: var(--text-200);
  transition: color 50s ease;
}

svg {
  color: var(--text-100);
  &:hover {
    color: var(--primary-100);
  }
}

@media (max-width: 768px) {
  .content {
    flex-direction: column-reverse;
    text-align: center;
  }
}
