.navbar {
  position: sticky;
  top: 0;
  padding: 1rem;
}

.navbar__container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
