.cta {
  max-width: fit-content;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: var(--bg-200);
  border-radius: 1rem;
}

.ctaTitle {
  font-size: clamp(1rem, 0.9479rem + 4.1667vw, 2.25rem);
  font-weight: bold;
}

.ctaSubtitle {
  font-size: clamp(1rem, 0.9375rem + 5vw, 2.5rem);
  font-weight: lighter;
}