* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  font-family: "Gotu";
  color: #1a1a1a;
  transition: background-color 0.5s ease;
}

.content {
  flex: 1;
  height: calc(100vh - 200px);
  overflow: hidden;
}

@font-face {
  font-family: "Gotu";
  src: url("assets/fonts/Gotu-Regular.woff2") format("woff2"),
    url("assets/fonts/Gotu-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
