* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Gotu";
}

@font-face {
    font-family: 'Gotu';
    src: url('assets/fonts/Gotu-Regular.woff2') format('woff2'),
        url('assets/fonts/Gotu-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
