.hero {
  min-height: 50vh;
  padding: 4rem 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #bde7d4;
}

.hero__content {
  max-width: 600px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.5rem;

  h1 {
    font-size: clamp(1rem, 0rem + 5.3333vw, 2rem);
    font-weight: 500;
    text-wrap: balance;
    line-height: 1.1;
  }

  p {
    text-wrap: pretty;
      font-size: 1.15rem;
  }
}
